# directories
**/setup
**/mock
**/dist
**/build

# config files
**/postcss.config.js
**/tailwind.config.js
**/jest.config.js
**/.eslintrc.js
**/tsconfig.json

# node
**/node_modules
**/package.json
**/package-lock.json
**/yarn.lock

